[Unit]
Description=Cintamani's distributed currency daemon
After=network.target

[Service]
User=cintamani
Group=cintamani

Type=forking
PIDFile=/var/lib/cintamanid/cintamanid.pid
ExecStart=/usr/bin/cintamanid -daemon -pid=/var/lib/cintamanid/cintamanid.pid \
-conf=/etc/cintamani/cintamani.conf -datadir=/var/lib/cintamanid -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
